.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.key-container {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.calculator-screen {
  padding: 10px;
  width: 280px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.key {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.key:hover {
  background-color: #eee;
}

.operator {
  background-color: #8b8585;
}

.text-title {
  color: #8b8585;
}
